:root {
  --main-color: #0062c4;
  --main-hover-color: #004890;
  --color-orange: #cc7a00;
  --color-green: #00802b;
  --color-brown: #996633;
  --color-silver: #C0C0C0;
  --color-gold: #DBC448;
  --color-red: #e60000;
  --color-purple: #b800e6 ;
}

.text-main {
  color: var(--main-color);
}

.text-orange {
  color: var(--color-orange);
}

.text-green {
  color: var(--color-green);
}

.text-brown {
  color: var(--color-brown);
}

.text-silver {
  color: var(--color-silver);
}

.text-gold {
  color: var(--color-gold);
}

.active-navbar-item {
  border-color: var(--main-color);
}

.edit-user i:hover {
  color: var(--main-color);
  cursor: pointer;
}

th .fa-trophy {
  color: var(--color-gold) !important;
}

.dots-wrapper {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #000000, #000000 10%, #ffffff 10%, #ffffff);
}

.fa-user-headset {
  color: #808080;
}

.fa-circle-check {
  color: var(--color-green);
}

.fa-circle-xmark {
  color: var(--color-red);
}

.disabled-paginatio-item:hover {
  cursor: default;
  background-color: #fff;
}

.table-container {
  position: relative;
}
.table-container .spinner-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.fa-face-sad-tear {
  font-size: 30px;
}

.add-points {
  color: var(--color-green);
}

.sub-points {
  color: var(--color-red);
}

.add-points,
.sub-points {
  font-weight: bold;
}

.dropdown-item :hover {
  cursor: pointer;
}
.dropdown-item .custom-nav-item {
  left: 0;
}

button.btn-bg {
  background-color: var(--main-color) !important;
}
button.btn-bg:hover {
  background-color: var(--main-hover-color) !important;
}

.order-by {
  cursor: pointer;
}

.text-with-border {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.fa-calendar-circle-user {
  color: var(--color-purple);
}

.points-input {
  width: fit-content;
}

.new-payout-request-info {
  background-color: red;
  padding: 0 5px;
  text-align: center;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  top: 12px;
  right: -11px;
  -webkit-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  -moz-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  animation: scaleAnimation 0.8s infinite;
}

.ready-to-payout i {
  animation: scaleAnimation 0.8s infinite;
}

@media only screen and (max-width: 639px) {
  .dropdown-item:hover button {
    background-color: #f9fafb;
  }
}

.right-dp input {
  text-align: right;
}
@media only screen and (max-width: 639px) {
  .right-dp input {
    text-align: left;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.username {
  text-shadow: 2px 2px 5px #fff;
}

.fit-content {
  width: fit-content;
}

.draft-post {
  opacity: 0.5;
}

.absolute-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  transform: translateY(-50%);
}

.alert-wrapper {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.verify-checkbox {
  position: absolute;
  top: 5%;
  right: 5%;
}
.verify-checkbox:focus {
  outline: unset !important;
  box-shadow: none !important;
}

.floating-submit {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.password-request-count-info {
  background-color: red;
  padding: 0 5px;
  text-align: center;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  -moz-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  animation: scaleAnimation 0.8s infinite;
}

.image-request-count-info {
  background-color: blue;
  padding: 0 5px;
  text-align: center;
  color: white;
  border-radius: 15px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 11px 0px blue;
  -moz-box-shadow: 0px 0px 11px 0px blue;
  box-shadow: 0px 0px 11px 0px blue;
  animation: scaleAnimation 0.8s infinite;
}

.image-wp-count {
  top: -20px;
}

.image-wop-count {
  top: 0;
}

.password-request-count-info-in-dropdown {
  background-color: red;
  padding: 0 5px;
  text-align: center;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  -moz-box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  box-shadow: 0px 0px 11px 0px rgb(255, 0, 0);
  animation: scaleAnimation 0.8s infinite;
}

.image-request-count-info-in-dropdown {
  background-color: blue;
  padding: 0 5px;
  text-align: center;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  right: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px blue;
  -moz-box-shadow: 0px 0px 11px 0px blue;
  box-shadow: 0px 0px 11px 0px blue;
  animation: scaleAnimation 0.8s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=admin.css.map */
